.splash {
    position: relative;
    width: 1000px;
    height: 800px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,132,1) 100%);
}

.splash .titleImage {
    display: block;
    width: 600px;
    margin: 0 auto;
    padding: 50px 0;
}

.splash .instructionsBtn {
    display: block;
    width: 600px;
    height: 50px;
    margin: 50px auto;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    border-radius: 5px;
    color: #ffffff;
    text-shadow: 2px 2px #000000, 2px -2px #000000, -2px -2px #000000, -2px 2px #000000;
    background-color: #dddddd;
}

.splash .instructionsBtn:hover {
   cursor: pointer;
   text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px -2px 2px #000000, -2px 2px 2px #000000;
   box-shadow: 1px 1px 2px #000000, 1px -1px 2px #000000, -1px -1px 2px #000000, -1px 1px 2px #000000;
}

.splash .instructionsBtn:focus {
    outline: none;
}

.splash .gameLevel {
    width: 50%;
    float: left;
}

.splash .gameLevel img {
    display: block;
    width: 350px;
    margin: 50px auto 20px auto;
    border: 1px solid #000000;
    border-radius: 5px;
}

.splash .gameLevel h2  {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
}

.splash .gameLevel a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px #000000, 2px -2px #000000, -2px -2px #000000, -2px 2px #000000;
}

.gameLevel a:hover {
    color: #dddddd;
    text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px -2px 2px #000000, -2px 2px 2px #000000;
}

.gameLevel a:active {
    font-size: 1.9rem;
}

.instructions {
    visibility: hidden;
    width: 800px;
    position: absolute;
    padding: 30px;
    left: 100px;
    top: 100px;
    border-radius: 5px;
    background-color: #b3ff0f;
}

.instructions button {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.6rem;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #b3ff0f;
}

.instructions button:hover {
    cursor: pointer;
    color: #ededed;
    text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px -2px 2px #000000, -2px 2px 2px #000000;
}

.instructions button:active {
    font-size: 1.5rem;
    outline: none;
}

.instructionsShow {
    visibility: visible;
}