* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
}

main {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid #000000;

}

.ie main {
    display: block
}

.ie .splash {
    background-color: #0000FF;
}