* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
}

main {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}

.ie main {
    display: block
}

.ie .splash {
    background-color: #0000FF;
}

.sqrBox {
    position: absolute;
    top: 50px;
    left: 180px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    text-align: center;
}

.seconds {
    font-size: 25rem;
    color: darkred;
    margin: 0;
}

.face{
    position: relative;
}