.track {
    position: relative;
}

.track rect.path {
    fill:#ffffff;
}

.track .finish {
    fill: #ff1c1c;
}

.track button {
    position: absolute;
    bottom: 10px;
    width: 100px;
    left: 450px;
}

.track .player {
    z-index: 5;
}

.sqrBox {
    position: absolute;
    top: 50px;
    left: 180px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    text-align: center;
}

.seconds {
    font-size: 25rem;
    color: darkred;
    margin: 0;
}
