.track1 {
    position: relative;
}

rect {
    fill: #000000;
}

.path {
    fill: #ffffff;
}

rect.finish {
    fill: #ff1c1c;
}

.track1 button {
    position: absolute;
    bottom: 10px;
    width: 100px;
    left: 450px;
}